USE [master]
GO
/****** Объект:  Database [УчётКомпьютернойТехники]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
CREATE DATABASE [УчётКомпьютернойТехники]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчётКомпьютернойТехники', FILENAME = N'C:\Users\Sergey\УчётКомпьютернойТехники.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'УчётКомпьютернойТехники_log', FILENAME = N'C:\Users\Sergey\УчётКомпьютернойТехники_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчётКомпьютернойТехники].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчётКомпьютернойТехники]
GO
/****** Объект:  Table [dbo].[АРМ]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[АРМ](
	[код_арм] [int] IDENTITY(1,1) NOT NULL,
	[код_кабинета] [int] NOT NULL,
	[имя_пк] [nvarchar](50) NULL,
	[ип_адрес] [nvarchar](15) NULL,
	[инвентарный_номер] [nvarchar](50) NULL,
	[тип_устройства] [nvarchar](50) NULL,
	[статус] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_арм] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Заявка]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка](
	[код_заявки] [int] IDENTITY(1,1) NOT NULL,
	[код_арм] [int] NOT NULL,
	[код_преподавателя] [int] NOT NULL,
	[статус] [nvarchar](20) NULL,
	[комментарий] [nvarchar](max) NULL,
	[дата_создания] [datetime] NULL,
	[дата_завершения] [datetime] NULL,
	[код_техника] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[код_заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Кабинет]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Кабинет](
	[код_кабинета] [int] IDENTITY(1,1) NOT NULL,
	[номер_кабинета] [nvarchar](10) NOT NULL,
	[местонахождение] [nvarchar](100) NULL,
	[ответственный] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_кабинета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Комплектация]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Комплектация](
	[код_арм] [int] NOT NULL,
	[код_процессора] [int] NOT NULL,
	[код_озу] [int] NOT NULL,
	[код_накопителя] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[код_арм] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Мультимедиа]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мультимедиа](
	[код_мультимедиа] [int] IDENTITY(1,1) NOT NULL,
	[код_кабинета] [int] NOT NULL,
	[тип] [nvarchar](50) NULL,
	[марка] [nvarchar](100) NULL,
	[инвентарный_номер] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_мультимедиа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Накопитель]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Накопитель](
	[код_накопителя] [int] IDENTITY(1,1) NOT NULL,
	[тип] [nvarchar](20) NULL,
	[объем_гб] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[код_накопителя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Новость]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Новость](
	[код_новости] [int] IDENTITY(1,1) NOT NULL,
	[заголовок] [nvarchar](200) NOT NULL,
	[текст] [nvarchar](max) NULL,
	[дата_публикации] [datetime] NULL,
	[актуальна] [bit] NULL,
	[код_автора] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[код_новости] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ОперативнаяПамять]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОперативнаяПамять](
	[код_озу] [int] IDENTITY(1,1) NOT NULL,
	[объем_гб] [int] NOT NULL,
	[тип] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_озу] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Оргтехника]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оргтехника](
	[код_оргтехники] [int] IDENTITY(1,1) NOT NULL,
	[код_кабинета] [int] NOT NULL,
	[тип] [nvarchar](50) NULL,
	[марка] [nvarchar](100) NULL,
	[инвентарный_номер] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_оргтехники] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Пользователь]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[код_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[логин] [nvarchar](50) NOT NULL,
	[пароль_hash] [nvarchar](256) NOT NULL,
	[код_роли] [int] NOT NULL,
	[фио] [nvarchar](100) NULL,
	[код_кабинета] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[код_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Программа]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Программа](
	[код_программы] [int] IDENTITY(1,1) NOT NULL,
	[тип_по] [nvarchar](50) NULL,
	[наименование] [nvarchar](100) NULL,
	[версия] [nvarchar](20) NULL,
	[лицензия] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_программы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Процессор]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Процессор](
	[код_процессора] [int] IDENTITY(1,1) NOT NULL,
	[модель] [nvarchar](100) NOT NULL,
	[производитель] [nvarchar](50) NULL,
	[частота_ггц] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_процессора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Роль]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роль](
	[код_роли] [int] IDENTITY(1,1) NOT NULL,
	[наименование_роли] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[код_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[СетевоеОборудование]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СетевоеОборудование](
	[код_сетевого] [int] IDENTITY(1,1) NOT NULL,
	[код_кабинета] [int] NOT NULL,
	[тип] [nvarchar](50) NULL,
	[марка] [nvarchar](100) NULL,
	[инвентарный_номер] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_сетевого] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Уведомления]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Уведомления](
	[код_уведомления] [int] IDENTITY(1,1) NOT NULL,
	[заголовок] [nvarchar](200) NOT NULL,
	[сообщение] [nvarchar](max) NULL,
	[дата_создания] [datetime] NULL,
	[прочитано] [bit] NULL,
	[для_кого] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[код_уведомления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[УстановленноеПО]    Дата создания скрипта: 01.07.2026 15:18:01 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[УстановленноеПО](
	[код_арм] [int] NOT NULL,
	[код_программы] [int] NOT NULL,
	[дата_установки] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[код_арм] ASC,
	[код_программы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[АРМ] ON 

INSERT [dbo].[АРМ] ([код_арм], [код_кабинета], [имя_пк], [ип_адрес], [инвентарный_номер], [тип_устройства], [статус]) VALUES (1, 1, N'PC-01', N'192.168.1.100', N'1101040687', N'системный блок', N'????????')
INSERT [dbo].[АРМ] ([код_арм], [код_кабинета], [имя_пк], [ип_адрес], [инвентарный_номер], [тип_устройства], [статус]) VALUES (2, 1, N'PC-02', N'192.168.1.101', N'1101040688', N'системный блок', N'????????')
INSERT [dbo].[АРМ] ([код_арм], [код_кабинета], [имя_пк], [ип_адрес], [инвентарный_номер], [тип_устройства], [статус]) VALUES (3, 1, N'PC-03', N'192.168.1.102', N'1101040689', N'системный блок', N'????????')
SET IDENTITY_INSERT [dbo].[АРМ] OFF
GO
SET IDENTITY_INSERT [dbo].[Заявка] ON 

INSERT [dbo].[Заявка] ([код_заявки], [код_арм], [код_преподавателя], [статус], [комментарий], [дата_создания], [дата_завершения], [код_техника]) VALUES (1, 1, 3, N'?????????', N'?? ?????????? ?????????, ?????? ?????', CAST(N'2026-05-20T09:15:00.000' AS DateTime), CAST(N'2026-05-20T11:30:00.000' AS DateTime), 2)
INSERT [dbo].[Заявка] ([код_заявки], [код_арм], [код_преподавателя], [статус], [комментарий], [дата_создания], [дата_завершения], [код_техника]) VALUES (2, 5, 3, N'? ??????', N'???? ?? ????????, ????????? ??????', CAST(N'2026-05-24T10:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Заявка] ([код_заявки], [код_арм], [код_преподавателя], [статус], [комментарий], [дата_создания], [дата_завершения], [код_техника]) VALUES (3, 8, 3, N'?????', N'??? ??????? ? ????????', CAST(N'2026-05-25T08:30:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Заявка] OFF
GO
SET IDENTITY_INSERT [dbo].[Кабинет] ON 

INSERT [dbo].[Кабинет] ([код_кабинета], [номер_кабинета], [местонахождение], [ответственный]) VALUES (1, N'5', N'Основное здание, 2 этаж', N'Иванов А.А.')
INSERT [dbo].[Кабинет] ([код_кабинета], [номер_кабинета], [местонахождение], [ответственный]) VALUES (2, N'16', N'Основное здание, 3 этаж', N'Петрова Е.В.')
INSERT [dbo].[Кабинет] ([код_кабинета], [номер_кабинета], [местонахождение], [ответственный]) VALUES (3, N'17', N'Основное здание, 3 этаж', N'Сидоров К.Д.')
SET IDENTITY_INSERT [dbo].[Кабинет] OFF
GO
INSERT [dbo].[Комплектация] ([код_арм], [код_процессора], [код_озу], [код_накопителя]) VALUES (1, 2, 2, 2)
INSERT [dbo].[Комплектация] ([код_арм], [код_процессора], [код_озу], [код_накопителя]) VALUES (2, 2, 2, 2)
INSERT [dbo].[Комплектация] ([код_арм], [код_процессора], [код_озу], [код_накопителя]) VALUES (3, 2, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[Мультимедиа] ON 

INSERT [dbo].[Мультимедиа] ([код_мультимедиа], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (1, 2, N'?????', N'????????????', NULL)
INSERT [dbo].[Мультимедиа] ([код_мультимедиа], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (2, 2, N'?????????', N'Vekta LD-65SU8815BS', N'1101040885')
INSERT [dbo].[Мультимедиа] ([код_мультимедиа], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (3, 4, N'????????', N'BenQ MH560', N'2101040902')
SET IDENTITY_INSERT [dbo].[Мультимедиа] OFF
GO
SET IDENTITY_INSERT [dbo].[Накопитель] ON 

INSERT [dbo].[Накопитель] ([код_накопителя], [тип], [объем_гб]) VALUES (1, N'SSD', 128)
INSERT [dbo].[Накопитель] ([код_накопителя], [тип], [объем_гб]) VALUES (2, N'SSD', 256)
INSERT [dbo].[Накопитель] ([код_накопителя], [тип], [объем_гб]) VALUES (3, N'SSD', 512)
SET IDENTITY_INSERT [dbo].[Накопитель] OFF
GO
SET IDENTITY_INSERT [dbo].[Новость] ON 

INSERT [dbo].[Новость] ([код_новости], [заголовок], [текст], [дата_публикации], [актуальна], [код_автора]) VALUES (1, N'Система учёта запущена', N'Теперь вы можете отслеживать состояние компьютеров в кабинетах.', CAST(N'2026-05-25T09:39:54.870' AS DateTime), 1, 1)
INSERT [dbo].[Новость] ([код_новости], [заголовок], [текст], [дата_публикации], [актуальна], [код_автора]) VALUES (2, N'Обновление в кабинете 28', N'Установлена новая версия Visual Studio 2022.', CAST(N'2026-05-25T09:39:54.870' AS DateTime), 1, 1)
INSERT [dbo].[Новость] ([код_новости], [заголовок], [текст], [дата_публикации], [актуальна], [код_автора]) VALUES (3, N'Новый кабинет 33', N'Открыт кабинет информатики №33 с 12 новыми компьютерами.', CAST(N'2026-05-25T09:39:54.870' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Новость] OFF
GO
SET IDENTITY_INSERT [dbo].[ОперативнаяПамять] ON 

INSERT [dbo].[ОперативнаяПамять] ([код_озу], [объем_гб], [тип]) VALUES (1, 4, N'DDR3')
INSERT [dbo].[ОперативнаяПамять] ([код_озу], [объем_гб], [тип]) VALUES (2, 8, N'DDR4')
INSERT [dbo].[ОперативнаяПамять] ([код_озу], [объем_гб], [тип]) VALUES (3, 16, N'DDR4')
SET IDENTITY_INSERT [dbo].[ОперативнаяПамять] OFF
GO
SET IDENTITY_INSERT [dbo].[Оргтехника] ON 

INSERT [dbo].[Оргтехника] ([код_оргтехники], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (1, 1, N'???????', N'Canon I-SENSYS LBP223dw', N'2101040812')
INSERT [dbo].[Оргтехника] ([код_оргтехники], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (2, 4, N'???????', N'HP LaserJet M404dn', N'2101040901')
INSERT [dbo].[Оргтехника] ([код_оргтехники], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (3, 5, N'???', N'Kyocera ECOSYS M2635dn', N'2101040910')
SET IDENTITY_INSERT [dbo].[Оргтехника] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователь] ON 

INSERT [dbo].[Пользователь] ([код_пользователя], [логин], [пароль_hash], [код_роли], [фио], [код_кабинета]) VALUES (1, N'admin', N'admin123', 1, N'Администратор Системы', NULL)
INSERT [dbo].[Пользователь] ([код_пользователя], [логин], [пароль_hash], [код_роли], [фио], [код_кабинета]) VALUES (2, N'technic', N'tech123', 2, N'Техник Петров И.И.', NULL)
INSERT [dbo].[Пользователь] ([код_пользователя], [логин], [пароль_hash], [код_роли], [фио], [код_кабинета]) VALUES (3, N'teacher5', N'pass123', 3, N'Преподаватель Иванов А.А.', 1)
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
GO
SET IDENTITY_INSERT [dbo].[Программа] ON 

INSERT [dbo].[Программа] ([код_программы], [тип_по], [наименование], [версия], [лицензия]) VALUES (1, N'??', N'Windows 10', N'22H2', N'????????????')
INSERT [dbo].[Программа] ([код_программы], [тип_по], [наименование], [версия], [лицензия]) VALUES (2, N'??', N'Windows 11', N'23H2', N'????????????')
INSERT [dbo].[Программа] ([код_программы], [тип_по], [наименование], [версия], [лицензия]) VALUES (3, N'????', N'Microsoft Office 2021', N'16.0', N'????????????')
SET IDENTITY_INSERT [dbo].[Программа] OFF
GO
SET IDENTITY_INSERT [dbo].[Процессор] ON 

INSERT [dbo].[Процессор] ([код_процессора], [модель], [производитель], [частота_ггц]) VALUES (1, N'Intel Celeron N4100', N'Intel', CAST(1.10 AS Decimal(4, 2)))
INSERT [dbo].[Процессор] ([код_процессора], [модель], [производитель], [частота_ггц]) VALUES (2, N'AMD Ryzen 5 3350G', N'AMD', CAST(3.50 AS Decimal(4, 2)))
INSERT [dbo].[Процессор] ([код_процессора], [модель], [производитель], [частота_ггц]) VALUES (3, N'Intel Core i3-8100', N'Intel', CAST(3.60 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Процессор] OFF
GO
SET IDENTITY_INSERT [dbo].[Роль] ON 

INSERT [dbo].[Роль] ([код_роли], [наименование_роли]) VALUES (1, N'admin')
INSERT [dbo].[Роль] ([код_роли], [наименование_роли]) VALUES (3, N'teacher')
INSERT [dbo].[Роль] ([код_роли], [наименование_роли]) VALUES (2, N'technic')
SET IDENTITY_INSERT [dbo].[Роль] OFF
GO
SET IDENTITY_INSERT [dbo].[СетевоеОборудование] ON 

INSERT [dbo].[СетевоеОборудование] ([код_сетевого], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (1, 1, N'??????????', N'TR-Link TI-SG1016DE', N'2101040836')
INSERT [dbo].[СетевоеОборудование] ([код_сетевого], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (2, 3, N'??????????', N'TR-Link TI-SG1016DE', N'2101040835')
INSERT [dbo].[СетевоеОборудование] ([код_сетевого], [код_кабинета], [тип], [марка], [инвентарный_номер]) VALUES (3, 3, N'??????', N'Keenetic Start', N'1101040875')
SET IDENTITY_INSERT [dbo].[СетевоеОборудование] OFF
GO
SET IDENTITY_INSERT [dbo].[Уведомления] ON 

INSERT [dbo].[Уведомления] ([код_уведомления], [заголовок], [сообщение], [дата_создания], [прочитано], [для_кого]) VALUES (1, N'Изменение статуса компьютера 14', N'Техник изменил статус на ''Неработает'' в кабинете 16', CAST(N'2026-05-25T10:35:33.953' AS DateTime), 0, N'admin')
INSERT [dbo].[Уведомления] ([код_уведомления], [заголовок], [сообщение], [дата_создания], [прочитано], [для_кого]) VALUES (2, N'Изменение статуса компьютера 14', N'Техник изменил статус на ''Неработает '' в кабинете 16', CAST(N'2026-05-25T10:36:36.253' AS DateTime), 0, N'admin')
INSERT [dbo].[Уведомления] ([код_уведомления], [заголовок], [сообщение], [дата_создания], [прочитано], [для_кого]) VALUES (3, N'Изменение статуса компьютера 14', N'Техник изменил статус на ''Неработает'' в кабинете 16', CAST(N'2026-05-25T10:37:14.707' AS DateTime), 0, N'admin')
SET IDENTITY_INSERT [dbo].[Уведомления] OFF
GO
INSERT [dbo].[УстановленноеПО] ([код_арм], [код_программы], [дата_установки]) VALUES (1, 1, CAST(N'2026-05-25' AS Date))
INSERT [dbo].[УстановленноеПО] ([код_арм], [код_программы], [дата_установки]) VALUES (1, 8, CAST(N'2026-05-25' AS Date))
INSERT [dbo].[УстановленноеПО] ([код_арм], [код_программы], [дата_установки]) VALUES (2, 1, CAST(N'2026-05-25' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__АРМ__1329F00C5CD0AD23]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[АРМ] ADD UNIQUE NONCLUSTERED 
(
	[инвентарный_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__АРМ__E9C2E2A5ABCED5BD]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[АРМ] ADD UNIQUE NONCLUSTERED 
(
	[ип_адрес] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Кабинет__7BE0C15800412957]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[Кабинет] ADD UNIQUE NONCLUSTERED 
(
	[номер_кабинета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Мультиме__1329F00C65F2FD47]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[Мультимедиа] ADD UNIQUE NONCLUSTERED 
(
	[инвентарный_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Оргтехни__1329F00C18A35F2F]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[Оргтехника] ADD UNIQUE NONCLUSTERED 
(
	[инвентарный_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Пользова__5EB64DCC6835BC29]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[Пользователь] ADD UNIQUE NONCLUSTERED 
(
	[логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Процессо__616EDD236C387848]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[Процессор] ADD UNIQUE NONCLUSTERED 
(
	[модель] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Роль__B237FE4B8D7952FA]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[Роль] ADD UNIQUE NONCLUSTERED 
(
	[наименование_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__СетевоеО__1329F00CE630126F]    Дата создания скрипта: 01.07.2026 15:18:02 ******/ 
ALTER TABLE [dbo].[СетевоеОборудование] ADD UNIQUE NONCLUSTERED 
(
	[инвентарный_номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[АРМ] ADD  DEFAULT (N'Работает') FOR [статус]
GO
ALTER TABLE [dbo].[Заявка] ADD  DEFAULT (N'новая') FOR [статус]
GO
ALTER TABLE [dbo].[Заявка] ADD  DEFAULT (getdate()) FOR [дата_создания]
GO
ALTER TABLE [dbo].[Новость] ADD  DEFAULT (getdate()) FOR [дата_публикации]
GO
ALTER TABLE [dbo].[Новость] ADD  DEFAULT ((1)) FOR [актуальна]
GO
ALTER TABLE [dbo].[Уведомления] ADD  DEFAULT (getdate()) FOR [дата_создания]
GO
ALTER TABLE [dbo].[Уведомления] ADD  DEFAULT ((0)) FOR [прочитано]
GO
ALTER TABLE [dbo].[УстановленноеПО] ADD  DEFAULT (getdate()) FOR [дата_установки]
GO
ALTER TABLE [dbo].[АРМ]  WITH CHECK ADD FOREIGN KEY([код_кабинета])
REFERENCES [dbo].[Кабинет] ([код_кабинета])
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD FOREIGN KEY([код_арм])
REFERENCES [dbo].[АРМ] ([код_арм])
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD FOREIGN KEY([код_преподавателя])
REFERENCES [dbo].[Пользователь] ([код_пользователя])
GO
ALTER TABLE [dbo].[Заявка]  WITH CHECK ADD FOREIGN KEY([код_техника])
REFERENCES [dbo].[Пользователь] ([код_пользователя])
GO
ALTER TABLE [dbo].[Комплектация]  WITH CHECK ADD FOREIGN KEY([код_арм])
REFERENCES [dbo].[АРМ] ([код_арм])
GO
ALTER TABLE [dbo].[Комплектация]  WITH CHECK ADD FOREIGN KEY([код_накопителя])
REFERENCES [dbo].[Накопитель] ([код_накопителя])
GO
ALTER TABLE [dbo].[Комплектация]  WITH CHECK ADD FOREIGN KEY([код_озу])
REFERENCES [dbo].[ОперативнаяПамять] ([код_озу])
GO
ALTER TABLE [dbo].[Комплектация]  WITH CHECK ADD FOREIGN KEY([код_процессора])
REFERENCES [dbo].[Процессор] ([код_процессора])
GO
ALTER TABLE [dbo].[Мультимедиа]  WITH CHECK ADD FOREIGN KEY([код_кабинета])
REFERENCES [dbo].[Кабинет] ([код_кабинета])
GO
ALTER TABLE [dbo].[Новость]  WITH CHECK ADD FOREIGN KEY([код_автора])
REFERENCES [dbo].[Пользователь] ([код_пользователя])
GO
ALTER TABLE [dbo].[Оргтехника]  WITH CHECK ADD FOREIGN KEY([код_кабинета])
REFERENCES [dbo].[Кабинет] ([код_кабинета])
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD FOREIGN KEY([код_кабинета])
REFERENCES [dbo].[Кабинет] ([код_кабинета])
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD FOREIGN KEY([код_роли])
REFERENCES [dbo].[Роль] ([код_роли])
GO
ALTER TABLE [dbo].[СетевоеОборудование]  WITH CHECK ADD FOREIGN KEY([код_кабинета])
REFERENCES [dbo].[Кабинет] ([код_кабинета])
GO
ALTER TABLE [dbo].[УстановленноеПО]  WITH CHECK ADD FOREIGN KEY([код_арм])
REFERENCES [dbo].[АРМ] ([код_арм])
GO
ALTER TABLE [dbo].[УстановленноеПО]  WITH CHECK ADD FOREIGN KEY([код_программы])
REFERENCES [dbo].[Программа] ([код_программы])
GO
USE [master]
GO
